* {
	margin: 0;
	padding: 0
}

html,
body {
	width: 100%;
	-webkit-overflow-scrolling:touch;
}

body {
	background: #eee;
}

a {
	text-decoration: none;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	color: #555;
}

img {
	-webkit-touch-callout: none;
}

header,
footer {
	position: absolute;
	width: 100%;
	background: #ddd;
}

header {
	top: 0;
	height: 4rem;
	display: -webkit-flex;
  	display: flex;
	flex-flow: row nowrap;
	justify-content:center;
	align-items:space-between;
	font-size: 12px;
	/*background: linear-gradient(to top,#eee,#ddd,#eee);*/
}
header a {
	flex: 1 1 10%;
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items:center;
}

header h2 {
	width: 80%;
	line-height: 4rem;
	text-align: center;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
header .icon {
	font-size: 1.5rem;
}
footer {
	bottom: 0;
	height: 5rem;
	display: -webkit-flex;
  	display: flex;
	flex-flow: row nowrap;
	justify-content:center;
	align-items:stretch;
	font-size: 14px;
}

footer a {
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	align-items:center;
	flex-flow: column nowrap;

	order: 1;
	flex: 1 1 20%;
	
}
footer a.curTab {
	background: #ccc;
}

.content {
	position: absolute;
	top: 4rem;
	bottom: 5rem;
	width: 100%;
}

.content .tab {
	display: none;
}

.content .curTabContent {
	display: block;
}