* {
	padding: 0;
	margin: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	font-size: 1.6rem;
}

body {
	background: #eee;
}

img {
	width: 100%;
	height: 100%;
}

.swiper-container {
    width: 100%;
    height: 11rem;
}  
